<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.digital.dhanbadbasket">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProductsActivity"></activity>
        <activity android:name=".PaymentChooseActivity" />
        <activity android:name=".ChoosePaymentActivity" />
        <activity android:name=".DoctorsActivity" />
        <activity android:name=".PickupAndDropActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".ProductsListActivity" />
        <activity android:name=".SearchLocationActivity" />
        <activity
            android:name=".SelectLocationActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".ChooseLocationActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".WelcomeScreen" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>